@charset "UTF-8";
html,
body,
p,
ol,
ul,
li,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

svg {
  /* color: currentColor; */
}

body {
  line-height: normal;
  font-family: Poppins;
  background-color: #283036;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  /* width: ; */
  margin: 0 auto;
  /* padding-left: 16px;
  padding-right: 16px; */
  width: 1224px;
}

.join-bunner-btn, .newcomer-item-btn, .newcomer-btn, .popular-loadmore-btn, .mask-group-bunner-btn, .header .reg-btn {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  padding: 12px 36px;
  border-radius: 8px;
  background-color: #ff6e30;
}

.header {
  color: rgba(255, 255, 255, 0.55);
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 28px;
}
.header .header-logo {
  color: rgba(255, 255, 255, 0.9);
  font-size: 22px;
  font-weight: 600;
}
.header .header-logo > svg {
  fill: #ffffff;
  margin-right: 20px;
}
.header .active::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  border-radius: 7px;
  background-color: #ff6e30;
  margin-top: 10px;
}
.header .header-list {
  display: flex;
  gap: 40px;
}
.header .header-item:hover > .header-link {
  color: #ff6e30;
}
.header select[name=select] {
  color: rgba(255, 255, 255, 0.5490196078);
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.header select[name=select]:hover {
  color: #ff6e30;
}
.header option[value] {
  background-color: #283036;
}
.header .reg-list {
  display: flex;
}
.header .reg-btn {
  color: rgba(255, 255, 255, 0.55);
  padding: 12px 28px;
  background-color: transparent;
  border: none;
}
.header .reg-btn:hover {
  color: #fdf5ff;
  background: #ff6e30;
}

.mask-group {
  margin-bottom: 200px;
  background-image: url(./img/bg-mask-grou.png);
  background-repeat: no-repeat;
  background-position: right;
  padding-top: 48px;
}

.mask-group-title {
  color: rgba(255, 255, 255, 0.9);
  font-size: 50px;
  font-weight: 500;
  width: 600px;
  margin-bottom: 30px;
}

.mask-group-title > span {
  color: #ff6e30;
}

.mask-group-su-title {
  color: rgba(255, 255, 255, 0.55);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.66;
  width: 487px;
  margin-bottom: 60px;
}

.mask-group-bunner-form {
  margin-bottom: 110px;
}

.mask-group-bunner-input-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  border-radius: 15px;
  border: 1.5px solid rgba(255, 255, 255, 0.1);
  background-color: #283036;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 11px;
}

.mask-group-bunner-input-wrap::before {
  content: ""; /*\1F50D*/
  position: absolute;
  width: 24px;
  height: 24px;
  display: block;
  top: 20px;
  left: 18px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.3803921569);
  background-image: url();
}

.mask-group-bunner-svg {
  fill: rgba(255, 255, 255, 0.3803921569);
  margin-right: 14px;
}

.mask-group-bunner-input, .join-bunner-input {
  width: 70%;
  color: rgba(255, 255, 255, 0.38);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  background-color: #283036;
  border: none;
  outline: none;
}

.mask-group-social {
  display: flex;
  margin-top: 110px;
  gap: 10px;
}

.mask-group-social-item {
  padding: 12px;
}

.mask-group-social-item svg {
  fill: rgba(255, 255, 255, 0.7803921569);
}
.mask-group-social-item svg:hover {
  color: #ff6e30;
}

.popular {
  margin-bottom: 200px;
}

.popular-icon {
  display: inline-block;
}

.popular-list {
  display: flex;
  flex-wrap: wrap;
  gap: 100px 24px;
}

.popular-item {
  width: calc((100% - 48px) / 3);
  padding: 33px;
  outline: transparent;
  border-radius: 15px;
  border: transparent;
}

.popular-item:hover {
  border-radius: 25px;
  outline: 2px solid rgba(255, 255, 255, 0.05);
  background-color: rgba(44, 53, 61, 0.2);
  background-image: url(../img/ellipse.svg);
  background-repeat: no-repeat;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}

.popular-item:hover .popular-item-img {
  background-color: rgba(247, 116, 59, 0.5490196078);
}

.popular-item-img {
  padding: 10px;
  border-radius: 7px;
}

.card-heading {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-bottom: 30px;
}

.popular-title {
  color: rgba(255, 255, 255, 0.9);
  font-size: 48px;
  font-weight: 500;
  line-height: 1.3;
  text-align: center;
}

.popular-sutitle {
  color: rgba(255, 255, 255, 0.55);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.66;
  text-align: center;
  margin-bottom: 90px;
}

.popular-title-item {
  color: rgba(255, 255, 255, 0.78);
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 3px;
}

.popular-sutitle-item {
  color: rgba(255, 165, 55, 0.55);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.popular-text-item {
  color: rgba(255, 255, 255, 0.55);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  margin-bottom: 30px;
}

.popular-card-footer {
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}

/* ================ стилизация чекбокса ================ */
input[type=checkbox] {
  /* appearance: none; */
  display: none;
  /* margin: 0; */
}

input[type=checkbox]:checked + .popular-card-icon-heart {
  fill: red;
}

input[type=checkbox]:checked + svg {
  fill: rgb(86, 84, 84);
}

.popular-card-icon-heart {
  padding: 7px;
  border-radius: 7px;
  fill: rgba(255, 255, 255, 0.3803921569);
}

.popular-card-icon-heart:hover {
  background-color: #283036;
  box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.1490196078);
}

.popular-card-icon-folder {
  padding: 7px;
  border-radius: 7px;
  fill: rgba(255, 255, 255, 0.3803921569);
}

.popular-button-item {
  border-radius: 8px;
  background-color: transparent;
  padding: 9px 35px;
  color: #ff6e30;
  font-weight: 600;
  line-height: normal;
  border: none;
}

.popular-button-item:hover {
  color: #fdf5ff;
  background: #ff6e30;
}

.popular-loadmore-btn:hover {
  background-color: #ff6e30;
  color: #fdf5ff;
}

.trusted {
  /* border-radius: 25px;
    background-image: radial-gradient(
      circle at top left,
      var(#FF6E30) 10%,
      var(#283036) 50%
    ); */
  border-radius: 25px;
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-color: rgba(44, 53, 61, 0.2);
  background-image: url(./img/ellipse.svg);
  background-repeat: no-repeat;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  padding: 55px 82px;
  margin-bottom: 220px;
}

.trusted svg {
  fill: rgba(255, 255, 255, 0.2);
}

.trusted-text {
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 55px;
}

.trusted-list {
  display: flex;
  justify-content: space-evenly;
}

.trusted-item:hover svg {
  fill: #ff6e30;
}

.newcomer {
  display: flex;
  gap: 232px;
  margin-bottom: 195px;
}

.newcomer-title {
  color: rgba(255, 255, 255, 0.9019607843);
  font-size: 48px;
  font-weight: 500;
  line-height: 130%; /* 62.4px */
  width: 401px;
  margin-bottom: 30px;
}

.newcomer-para {
  color: rgba(255, 255, 255, 0.5490196078);
  font-size: 18px;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
  margin-bottom: 60px;
}

.newcomer-list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 24px;
}

.newcomer-item {
  flex-basis: calc((100% - 24px) / 2);
  padding: 28px 22px;
}

.newcomer-item:hover {
  border-radius: 25px;
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-color: rgba(44, 53, 61, 0.2);
  background-image: url(./img/ellipse.svg);
  background-repeat: no-repeat;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}

.newcomer-item-img {
  padding: 10px;
  border-radius: 7px;
}

.newcomer-item:hover .newcomer-item-img {
  background-color: #ff6e30;
}

.newcomer-item-title {
  color: rgba(255, 255, 255, 0.7803921569);
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.newcomer-item-sutitle {
  color: rgba(255, 255, 255, 0.5490196078);
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.newcomer-item-para {
  color: rgba(255, 255, 255, 0.5490196078);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
}

.join {
  margin-bottom: 240px;
}

.join-title {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 25px;
}

.join-paragraph {
  color: rgba(255, 255, 255, 0.55);
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.66;
  margin: 0 auto;
  width: 427px;
  margin-bottom: 100px;
}

.join-bunner-input-wrap {
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 550px;
  border-radius: 15px;
  border: 1.5px solid rgba(255, 255, 255, 0.1);
  background-color: #283036;
  padding-left: 55px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 11px;
}

.join-bunner-btn {
  color: green;
}

.testimonial {
  margin-bottom: 250px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.testimonial-item {
  display: flex;
  justify-content: space-around;
}

.testimonial-wrap-img {
  background-image: url(./img/bg-img.png);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  position: relative;
}

.testimonial-wrap-description {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(40, 48, 54, 0.2);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  width: 265px;
  height: 91px;
  flex-shrink: 0;
  background-image: url(./img/Rectangle\ 327.jpg);
  position: absolute;
  bottom: 29px;
  right: 4px;
  padding-top: 10px;
  padding-bottom: 16px;
  background-size: cover;
}

.testimonial-wrap-description-title {
  color: rgba(255, 253, 253, 0.78);
  font-size: 26px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.39px;
}

.testimonial-wrap-description-text {
  color: rgba(255, 253, 253, 0.55);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.testimonial-wrap-text {
  color: rgba(255, 255, 255, 0.78);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
  letter-spacing: 0.21px;
  width: 510px;
  padding-top: 128px;
  position: relative;
}

.testimonial-wrap-text::before {
  content: "“";
  display: block;
  position: absolute;
  top: 23px;
  left: -70px;
  transform: rotate(19deg);
  font-family: Lora;
  font-size: 250px;
  font-weight: 500;
  line-height: 320px;
  text-align: left;
  background: linear-gradient(188.88deg, rgba(252, 252, 252, 0) 20.34%, rgba(255, 255, 255, 0.5) 155.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ====styles slider===== */
.splide__arrow svg {
  fill: rgba(255, 255, 255, 0.31);
  width: 48px;
  height: 48px;
}

.splide__arrow {
  background-color: transparent;
}

.splide__arrow--next:hover > svg,
.splide__arrow--prev:hover > svg {
  fill: #ff6e30;
}

.splide__pagination {
  bottom: -2.5em;
}

.splide__pagination__page {
  width: 44px;
  height: 8px;
  border: 1px solid #000;
  border-radius: 4px;
  margin: 9px;
}

.splide__pagination__page.is-active {
  background: #ff6e30;
  transform: scale(1);
  opacity: 1;
}

.footer-line {
  border: 0.5px solid rgba(255, 255, 255, 0.1490196078);
  margin-bottom: 70px;
}

.footer-link {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.footer-link > svg {
  margin-right: 12px;
}

.footer-logo {
  color: rgba(255, 255, 255, 0.9);
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.footer-list {
  display: flex;
  justify-content: space-between;
}

p:hover > a {
  color: #ff6e30;
}

.footer-item-title {
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 21px;
}

.footer-item-paragraph {
  color: rgba(255, 255, 255, 0.55);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.78;
}/*# sourceMappingURL=main.css.map */