html,
body,
p,
ol,
ul,
li,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: currentColor;
}

svg {
  /* color: currentColor; */
}

body {
  line-height: normal;
  font-family: Poppins;
  background-color: #283036;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}