// =================== typography (text) colors =====================
$activeColor: #ff6e30;
$titleColorPrimary: #ffffffe6;
$titleColorSecondary: #ffffffc7;
$subTitleColor: #ffa5378c;
$textColorPrimary: #ffffff8c;

// ================ bg color ======================

// ================ border color ======================

// =================== typography =====================

$textFontSizePrimary: 16px;
$textFontWeightPrimary: 600;

